body {
  padding: 0;
  margin: 0;
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  height: 100vh;
  font-family: "Sora";
  background: #25262d;
  color: #e5e5e5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-bar{
  position: sticky;
  top: 0%;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  padding-right: 2rem;
}

header a {
  color: #e5e5e5;
  font-weight: 500;
  font-size: 1rem;
}

header ul {
  display: flex;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.cont img {
  width: 50vw;
}

.cont .text {
  margin-right: 1em;
  font-size: 2rem;
}

.cont .text h1,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.cont .text p {
  margin-top: 1.5em;
  font-size: 1rem;
  margin-bottom: 2em;
}

.cont .text button {
  margin-top: 1em;
  font-size: 18px;
  background: #373737;
  border: 1px;
  border-style: solid;
  color: #e5e5e5;
  text-align: center;
  width: 146px;
  height: 52px;
  font-family: "Sora";
  margin-right: 1em;
}

.name {
  display: flex;
  align-items: center;
}

.lin {
  margin-top: 7px;
  display: none;
}

.lin:hover {
  display: block;
}

.Harsh:hover + .lin {
  display: block;
  animation: op;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.name a {
  padding-right: 10px;
}

h1,
h3 {
  background: -webkit-linear-gradient(left, #0EBBD2, #e5e5e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  animation: op;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes op {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 700px){
  nav ul{
    display: inline;
  }
  .cont{
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
  }
  body{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  header li{
    padding: 0;
  }
  img{
    height: 50vh;
    width: 100vw;
  }
}
